---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mediation">
  <section class="bg-white py-20">
    <div class="container mx-auto px-4">
      <div class="flex flex-col lg:flex-row items-center">
        <div class="lg:w-1/2 lg:pr-12">
          <h1
            class="text-5xl lg:text-6xl font-serif font-bold text-gray-900 mb-6">
            Rules of Arbitration
          </h1>
          <h2 class="text-xl text-gray-700 font-inter mb-8 text-justify">
            Coming Soon
            <!-- UNCITRAL Arbitration Rules -->
          </h2>
          <p class="text-xl text-gray-700 font-inter mb-8 text-justify">
            <!-- The UNCITRAL Arbitration Rules provide a comprehensive set of
            procedural rules upon which parties may agree for the conduct of
            arbitral proceedings arising out of their commercial relationship
            and are widely used in ad hoc arbitrations as well as administered
            arbitrations. The Rules cover all aspects of the arbitral process,
            providing a model arbitration clause, setting out procedural rules
            regarding the appointment of arbitrators and the conduct of arbitral
            proceedings, and establishing rules in relation to the form, effect
            and interpretation of the award. At present, there exist four
            different versions of the Arbitration Rules: (i) the 1976 version;
            (ii) the 2010 revised version; and (iii) the 2013 version which
            incorporates the UNCITRAL Rules on Transparency for Treaty-based
            Investor-State Arbitration and (iv) the 2021 version which
            incorporates the UNCITRAL Expedited Arbitration Rules. -->
          </p>
          <!-- <a
            href="https://uncitral.un.org/en/texts/arbitration/contractualtexts/arbitration"
            target="_blank"
            class="text-primary-500 hover:underline">Download PDF</a
          > -->
        </div>
      </div>
    </div>
  </section>
</Layout>
