---
import Layout from "../layouts/Layout.astro";
---

<!-- registrar@icdr.com -->
<Layout title="Contact Us">
  <section class="bg-white py-20">
    <div class="container mx-auto px-4">
      <div class="flex flex-col lg:flex-row items-center">
        <div class="lg:w-1/2 lg:pr-12">
          <h1
            class="text-5xl lg:text-6xl font-serif font-bold text-gray-900 mb-6">
            Contact Us
          </h1>
          <p class="text-xl text-gray-700 font-inter mb-8 text-justify">
            If you have any questions or need assistance, please feel free to
            contact us.
          </p>
          <p class="text-xl text-gray-700 font-inter mb-8 text-justify">
            Email: <a href="mailto:registrar@icdr.com" style="text-decoration: underline; color: blue">registrar@icdr.com</a>
          </p>
        </div>
      </div>
    </div>
  </section></Layout
>
